@use '../../assets/css/base';

$a-font: 'Arimo', sans-serif;
$g-font: 'Gelasio', serif;

.main-header {
    background: url('../../assets/images/bg.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%);

    .main-header-container {
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .main-header-logo-wrapper {

            .main-header-logo-title {
                color: #F1CDB3;
            }

            .main-header-logo-subtitle {
                color: #FFF;
            }
        }

        .main-header-nav {

            .main-header-menu {

                .main-header-menu-item {
                    padding-right: 35px;

                    .main-header-menu-item-link {
                        color: #CDCDCD;
                    }

                    // .main-header-menu-item-link:first-child {
                    //     padding-bottom: 6px;
                    //     color: #FAFAFA;
                    //     border-bottom: 3px solid #F1CDB3;
                    // }

                    .main-header-menu-item-link:active {
                        padding-bottom: 6px;
                        color: #FAFAFA;
                        border-bottom: 3px solid #F1CDB3;
                    }

                    .main-header-menu-item-link:hover {
                        color: #FAFAFA;
                    }
                }

                .main-header-menu-item:last-child {
                    padding-right: 0;
                }
            }
        }
    }

}

.main {
    .need-house {
        background: url('../../assets/images/bg.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%);

        .need-house-container {
            display: flex;
            flex-wrap: wrap;

            .need-house-info {
                width: 460px;
                padding-top: 163px;
                padding-right: 40px;

                .need-house-title {
                    padding-bottom: 42px;
                    font-family: $g-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 130%;
                    color: #FFFFFF;
                }

                .need-house-descr {
                    padding-bottom: 42px;
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 160%;
                    color: #CDCDCD;                   
                }

                .need-house-link {
                    display: block;
                    width: 120px;
                }
            }

            .need-house-pic {
                height: 100%;
                .need-house-pic-img {
                    display: block;
                }
            }
        }
    }

    .about {
        background-color: #FFF;

        .about-container {
            margin: 80px 0 100px 0;
            padding: 0 175px;
            display: flex;
            // flex-wrap: wrap;

            .about-pic {
                margin-right: 120px;
            }

            .about-info {
                padding: 14px 0;

                .about-title {
                    padding-bottom: 22px;
                }

                .about-descr {
                    padding-bottom: 25px;
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 160%;
                    color: #4C4C4C;
                }

                .about-descr:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    .our-friends {
        padding: 80px 0 100px 0;
        background-color: #F6F6F6;

        .our-friends-title {
            text-align: center;
            padding-bottom: 53px;
        }

        .our-friends-container {
            margin-bottom: 55px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .button-left {
                width: 52px;
                height: 52px;
                // margin-right: 53px;
                border: 2px solid #F1CDB3;
                border-radius: 100%;
                background: transparent url('../../assets/icons/arrow-left.svg') no-repeat center center;
                transition: all .2s;
            }

            .button-right {
                width: 52px;
                height: 52px;
                // margin-left: 53px;
                border: 2px solid #F1CDB3;
                border-radius: 100%;
                background: transparent url('../../assets/icons/arrow-right.svg') no-repeat center center;
                transition: all .2s;
            }

            .button-left:hover {
                background: #FDDCC4 url('../../assets/icons/arrow-left.svg') no-repeat center center;
            }

            .button-right:hover {
                background: #FDDCC4 url('../../assets/icons/arrow-right.svg') no-repeat center center;
            }

            .our-friends-cards-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .our-friends-card {
                    width: 270px;
                    margin-right: 90px;

                    .our-friends-card-link {
                        margin: 0 38px 30px 38px;
                    }
                }

                .our-friends-card:last-child {
                    margin-right: 0;
                }
            }

        }

        .our-friends-link {
            width: 173px;
            margin: 0 auto;
        }
    }

    .can-help {
        padding: 80px 0 100px 0;
        color: #FFF;
        text-align: center;

        .can-help-title {
            margin: 0 auto;
            margin-bottom: 60px;

        }

        .can-help-items-container {
            min-height: 281px;
            margin: 0 87px; 
            display: flex; 
            flex-wrap: wrap;
            justify-content: start;

            .can-help-item {
                margin: 0 auto;
                margin-right: 90px;

                .can-help-item-pic {
                    margin-bottom: 30px;
                    
                }

                .can-help-item-pic-caption {
                    font-family: $g-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    color: #545454;
                }

                
            }

            .can-help-item:first-child {
                margin-left: 0;
            }

            .can-help-item:nth-child(5) {
                margin-right: 0;
            }

            .can-help-item:nth-child(6) {
                margin-left: 84px;
            }

            .can-help-item:last-child {
                margin-right: 84px;
            }
        }
    }
}