$a-font: 'Arimo',
sans-serif;
$g-font: 'Gelasio',
serif;

@mixin g-text() {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo-title {
    padding-bottom: 7px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.header-logo-subtitle {
    font-family: $a-font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.header-nav {

    .header-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .header-menu-item {

            .header-menu-item-link {
                font-family: $a-font;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
            }
        }
    }
}

.btn {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    transition: all .3s;
}

.btn-pink {
    background: #F1CDB3;
}

.btn-transparent {
    border: 2px solid #F1CDB3;
}

.btn-inactive {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

.btn-pink:hover,
.btn-transparent:hover {
    background: #FDDCC4;
    cursor: pointer;
}

.btn-pink:active {
    background: #F1CDB3;
}

.link-btn-pink {
    display: block;
    padding: 13px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all .2s;
}

.link-btn-transparent {
    display: block;
    padding: 13px 45px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    transition: all .2s;
}

.link-btn-pink:hover,
.link-btn-transparent:hover {
    background-color: #FDDCC4;
}

.h3-title {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.h4-title {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.pet-card {
    width: 270px;
    background-color: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    transition: all .2s;

    .pet-card-pic {
        margin-bottom: 26px;

        .pet-card-pic-img {
            margin-bottom: 26px;
        }

        .pet-card-name {
            margin-bottom: 30px;
            font-family: $g-font;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
            text-align: center;
        }
    }

}

.pet-card:hover {
    background-color: #FFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;

    .pet-card-link {
        background-color: #FDDCC4;
    }
}

.footer {
    padding-top: 40px;
    background: url('../../assets/images/bg.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%);

    .footer-container {
        display: flex;
        justify-content: space-between;

        .footer-questions {
            margin-top: 16px;

            .footer-questions-title {
                margin-bottom: 40px;
                color: #FFF;
            }

            .footer-questions-email {
                position: relative;
                margin-bottom: 40px;

                .footer-questions-email-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-questions-email-h4 {
                    padding-top: 6px;
                    padding-left: 60px;
                }
            }

            .footer-questions-phone {
                position: relative;

                .footer-questions-phone-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-questions-phone-h4 {
                    padding-top: 6px;
                    padding-left: 60px;
                }
            }
        }

        .footer-visit {
            margin-top: 16px;

            .footer-visit-title {
                margin-bottom: 34px;
                color: #FFF;
            }

            .footer-visit-address {
                position: relative;
                margin-bottom: 32px;

                .footer-visit-address1-icon {
                    position: absolute;
                    top: 5px;
                    left: 0;
                }

                .footer-visit-address1-h4 {
                    padding-left: 42px;
                }

                .footer-visit-address2-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-visit-address2-h4 {
                    padding-left: 42px;
                    padding-top: 6px;
                }
            }
        }

        .footer-pic {
            overflow: hidden;

            .footer-pic-img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
        width: 708px;
    }

    .footer {
        padding-top: 30px;

        .footer-container {
            flex-wrap: wrap;

            .footer-questions {
                margin: 0 0 0 34px;
            }

            .footer-visit {
                margin: 0 34px 30px 0;
            }

            .footer-pic {
                margin: 0 auto;
            }
        }
    }
}