$a-font: 'Arimo',
sans-serif;
$g-font: 'Gelasio',
serif;

@mixin g-text() {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

@keyframes burger-show {
    from {
        transform: translateY(-100%);
        background-color: rgba(41, 41, 41, 0);
    }

    to {
        transform: translateY(0);
        background-color: rgba(41, 41, 41, 0.6);
    }
}

@keyframes burger-hide {
    from {
        transform: translateY(0);
        background-color: rgba(41, 41, 41, 0.6);
    }

    to {
        transform: translateY(-100%);
        background-color: rgba(41, 41, 41, 0);
    }
}

@keyframes burger-button-rotate {
    100% {
        transform: rotate(90deg);
    }
}

@keyframes burger-button-undo-rotate {
    100% {
        transform: rotate(-180deg);
    }
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body-overflow-hidden {
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo-link--invisible {
    opacity: 0;
    pointer-events: none;
}

.header-logo-title {
    padding-bottom: 7px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.header-logo-subtitle {
    font-family: $a-font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.header-nav {

    .header-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .header-menu-item {

            .header-menu-item-link {
                font-family: $a-font;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
            }
        }
    }
}

.header-burger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    margin: 19px 0;
    z-index: 1;

    .burger-line {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
    }

    .burger-line:first-child {
        top: 0;
    }

    .burger-line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .burger-line:last-child {
        bottom: 0;
    }
}

.header__burger-button--active {
    animation: burger-button-rotate .3s ease-out forwards;
}

.header__burger-button--inactive {
    animation: burger-button-undo-rotate .3s ease-out forwards;
}

.header__burger-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0);
    transform: translateY(-100%);
    transition: all 1s;
    overflow: hidden;

    .header__burger-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;

        .header-burger-logo {
            width: 190px;
            height: 60px;
            margin: 33px 0 158px 10px;
        }

        .header-burger-menu-list {
            padding: 0;
            margin: 0 38px;

            .burger-menu-item {
                text-align: center;
                margin-bottom: 40px;

                .burger-menu-item-link {
                    font-family: $a-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 160%;
                }

                .burger-menu-item-link-active {
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.header__burger-menu-container--active {
    animation: burger-show .3s ease-out forwards;
}

.header__burger-menu-container--inactive {
    animation: burger-hide .3s ease-out forwards;
}

.btn {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    transition: all .3s;
}

.btn-pink {
    background: #F1CDB3;
}

.btn-transparent {
    border: 2px solid #F1CDB3;
}

.btn-inactive {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

.btn-pink:hover,
.btn-transparent:hover {
    background: #FDDCC4;
    cursor: pointer;
}

.btn-pink:active {
    background: #F1CDB3;
}

.link-btn-pink {
    display: block;
    padding: 13px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all .2s;
}

.link-btn-transparent {
    display: block;
    padding: 13px 45px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    transition: all .2s;
}

.link-btn-pink:hover,
.link-btn-transparent:hover {
    background-color: #FDDCC4;
}

.h3-title {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.h4-title {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.pet-card {
    position: relative;
    width: 270px;
    background-color: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    transition: all .2s;

    .pet-card-pic {
        margin-bottom: 26px;

        .pet-card-pic-img-container {
            height: 270px;
            margin-bottom: 26px;
            display: flex;
            justify-content: center;
            align-items: center;

            .pet-card-pic-img {
                display: block;
            }
        }

        .pet-card-name {
            margin-bottom: 30px;
            font-family: $g-font;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
            text-align: center;
        }
    }

    .pet-card-popup-container {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(41, 41, 41, 0.6);
        z-index: 2;

        .pet-card-popup:hover {

            .pet-card-popup-close-btn {
                border: 2px solid #F1CDB3;
                border-radius: 100%;
                background: transparent url('../../assets/icons/close-icon.svg') no-repeat center center;
            }
        }

        .pet-card-popup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
            min-height: 500px;
            background-color: #FAFAFA;
            border-radius: 9px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            cursor: default;

            .pet-card-popup-img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 500px;
                width: 500px;
                overflow: hidden;
                border-radius: 9px;

                .pet-card-popup-img {
                    display: block;
                }
            }

            .pet-card-popup-descr-container {
                padding: 50px 20px 0 29px;


                .pet-card-popup-title {
                    color: #000;
                    margin-bottom: 10px;
                }

                .pet-card-popup-type {
                    color: #000;
                    margin-bottom: 40px;
                }

                .pet-card-popup-descr {
                    max-width: 350px;
                    font-family: $g-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    color: #000000;
                    margin-bottom: 40px;
                }

                .pet-card-popup-property {
                    margin-bottom: 10px;
                    font-family: $g-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 115%;
                    letter-spacing: 0.1em;
                    color: #000000;
                }

                .pet-card-popup-property::before {
                    content: "\2022";
                    color: #F1CDB3;
                    margin-right: 10px;
                }
            }

            .pet-card-popup-close-btn {
                position: absolute;
                top: -52px;
                right: -45px;
                width: 52px;
                height: 52px;
                border: 2px solid #F1CDB3;
                border-radius: 100%;
                background: transparent url('../../assets/icons/close-icon.svg') no-repeat center center;
                transition: all .2s;
            }

            .pet-card-popup-close-btn:hover {
                background: #FDDCC4 url('../../assets/icons/close-icon.svg') no-repeat center center;
                border: none;
                cursor: pointer;
            }
        }
    }

    .pet-card-popup-container:hover {

        .pet-card-popup-close-btn {
            background: #FDDCC4 url('../../assets/icons/close-icon.svg') no-repeat center center;
            border: none;
            cursor: pointer;
        }
    }

    .pet-card-popup-container-active {
        display: block;
    }
}

.pet-card:hover {
    background-color: #FFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;

    .pet-card-link {
        background-color: #FDDCC4;
    }
}

.footer {
    padding-top: 40px;
    background: url('../../assets/images/bg.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%);

    .footer-container {
        display: flex;
        justify-content: space-between;

        .footer-questions {
            margin-top: 16px;

            .footer-questions-title {
                width: 280px;
                height: 90px;
                margin-bottom: 40px;
                color: #FFF;
            }

            .footer-questions-email {
                position: relative;
                margin-bottom: 40px;

                .footer-questions-email-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-questions-email-h4 {
                    padding-top: 6px;
                    padding-left: 60px;
                }
            }

            .footer-questions-phone {
                position: relative;

                .footer-questions-phone-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-questions-phone-h4 {
                    padding-top: 6px;
                    padding-left: 60px;
                }
            }
        }

        .footer-visit {
            margin-top: 16px;

            .footer-visit-title {
                width: 270px;
                height: 90px;
                margin-bottom: 34px;
                color: #FFF;
            }

            .footer-visit-address {
                position: relative;
                margin-bottom: 32px;

                .footer-visit-address1-icon {
                    position: absolute;
                    top: 5px;
                    left: 0;
                }

                .footer-visit-address1-h4 {
                    width: 300px;
                    padding-left: 42px;
                }

                .footer-visit-address2-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .footer-visit-address2-h4 {
                    padding-left: 42px;
                    padding-top: 6px;
                }
            }
        }

        .footer-pic {
            overflow: hidden;

            .footer-pic-img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
        width: 708px;
    }

    .footer {
        padding-top: 30px;

        .footer-container {
            flex-wrap: wrap;

            .footer-questions {
                margin: 0 0 0 34px;
            }

            .footer-visit {
                margin: 0 34px 30px 0;
            }

            .footer-pic {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {

    .wrapper {
        max-width: 300px;
    }

    .wrapper--s {
        max-width: 100%;
        margin: 0 10px;
    }

    .h3-title {
        font-size: 25px;
    }

    .header-burger {
        display: block;
        margin-right: 43px;
    }

    .footer {
        padding-top: 30px;

        .footer-container {
            flex-wrap: wrap;

            .footer-questions {
                width: 100%;
                margin: 0 11px 46px 11px;
                text-align: center;

                .footer-questions-title {
                    height: 64px;
                }

                .footer-questions-email {
                    margin: 0 13px 40px 13px;

                }

                .footer-questions-phone {
                    margin: 0 19px 0 20px;
                }
            }

            .footer-visit {
                margin: 0 auto;
                margin-bottom: 5px;
                text-align: center;

                .footer-visit-title {
                    margin: 0 auto;
                    margin-bottom: 15px;
                    text-align: center;
                }

                .footer-visit-address {
                    margin-bottom: 38px;

                    .footer-visit-address1-h4 {
                        width: 258px;
                        text-align: left;
                    }

                    .footer-visit-address2-h4 {
                        text-align: left;
                    }
                }
            }

            .footer-pic {
                width: 260px;
                height: 270px;
                margin: 0 auto;
            }
        }
    }
}