$a-font: 'Arimo', sans-serif;
$g-font: 'Gelasio', serif;

@mixin g-text() {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;    
}


html {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo-title {
    padding-bottom: 7px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.header-logo-subtitle {
    font-family: $a-font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.header-nav {

    .header-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .header-menu-item{
            
            .header-menu-item-link {
                font-family: $a-font;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
            }
        }
    }
}

.link-btn-pink {
    display: block;
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.link-btn-transparent {
    display: block;
    padding: 15px 45px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
}

.link-btn-pink:hover, .link-btn-transparent:hover {
    background-color: #FDDCC4;
}

.h3-title {
    font-family: $g-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;    
}

.pet-card {
    background-color: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;

    .pet-card-pic {
        margin-bottom: 30px;
    }

    .pet-card-name {
        margin-bottom: 30px;
        font-family: $g-font;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        text-align: center;
        
    }
}

.pet-card:hover {
    background-color: #FFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}