@use '../../assets/css/base';

$a-font: 'Arimo',
sans-serif;
$g-font: 'Gelasio',
serif;

.pets-header {
    background: #FFF;

    .pets-header-container {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .pets-header-logo-wrapper {

            .pets-header-logo-title {
                color: #545454;
            }

            .pets-header-logo-subtitle {
                color: #292929;
            }
        }

        .pets-header-nav {

            .pets-header-menu {

                .pets-header-menu-item {
                    padding-right: 35px;

                    .pets-header-menu-item-link {
                        color: #545454;
                    }

                    .pets-header-menu-item-link:active {
                        padding-bottom: 6px;
                        color: #292929;
                        border-bottom: 3px solid #F1CDB3;
                    }

                    .pets-header-menu-item-link:hover {
                        color: #292929;
                    }

                    .pets-header-menu-item-link-active {
                        padding-bottom: 4px;
                        color: #545454;
                        border-bottom: 3px solid #F1CDB3;
                    }
                }

                .pets-header-menu-item:last-child {
                    padding-right: 0;
                }
            }
        }

        .pets-burger {
            .burger-line {
                background-color: #000;
            }
        }
    }

}

.pets-main {
    background-color: #F6F6F6;

    .pets-our-friends {
        padding: 85px 0 100px 0;

        .pets-our-friends-title {
            margin: 0 auto;
            margin-bottom: 45px;
            text-align: center;
        }

        .pets-our-friends-cards-container {
            margin-bottom: 2px;
            overflow: hidden;
            margin-bottom: 45px;


            .pets-our-friends-cards-container-line {
                display: flex;
                position: relative;
                top: 0;
                left: 0;
                width: 120000px;
                height: 930px;
                transition: all .5s;

                .pet-card-page {
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    width: 1280px;

                    .pets-pet-card {
                        margin: 15px 40px 15px 0;
                    }
                }

            }
        }

        .pets-our-friends-btns-container {
            width: 340px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .pets-our-friends-page-circle {
                width: 52px;
                height: 52px;
                background: #F1CDB3;
                border-radius: 100px;
                font-family: $g-font;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 52px;
                letter-spacing: 0.06em;
                color: #292929;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .pets-main {

        .pets-our-friends {
            padding: 84px 0 74px 0;

            .pets-our-friends-title {
                margin-bottom: 18px;
            }

            .pets-our-friends-cards-container {
                width: 580px;
                margin: 0 64px 40px 64px;

                .pets-our-friends-cards-container-line {
                    width: 4960px;
                    height: 1365px;
    
                    .pet-card-page {
                        width: 620px;
    
                        .pets-pet-card {
                            margin: 15px 40px 15px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .pets-header {

        .pets-header-container {
            padding: 30px 0 30px 0;

            .pets-header-nav {

                .pets-header-menu {
                    display: none;
                }
            }

            .pets-header__burger-menu {
                background-color: #FFF;

                .pets-burger-logo-wrapper {

                    .pets-burger-logo-title {
                        color: #545454;
                    }

                    .pets-burger-logo-subtitle {
                        color: #292929;
                    }
                }

                .pets-header-burger-menu-list {

                    .pets-burger-menu-item {

                        .pets-burger-menu-item-link {
                            color: #545454;
                        }

                        .pets-burger-menu-item-link:hover {
                            color: #292929;
                        }

                        .pets-burger-menu-item-link:active {
                            color: #292929;
                            border-bottom: 3px solid #F1CDB3;
                        }

                        .pets-burger-menu-item-link-active {
                            padding-bottom: 6px;
                            color: #292929;
                            border-bottom: 3px solid #F1CDB3;
                        }
                    }
                }
            }
        }
    }

    .pets-main {

        .pets-our-friends {
            padding: 42px 0;

            .pets-our-friends-title {
                margin-bottom: 40px;
            }

            .pets-our-friends-cards-container {
                width: 270px;
                margin: 0 15px 30px 15px;

                .pets-our-friends-cards-container-line {
                    width: 4320px;
                    height: 1365px;
    
                    .pet-card-page {
                        width: 270px;
    
                        .pets-pet-card {
                            margin: 0 0 30px 0;
                        }
                    }
                }
            }

            .pets-our-friends-btns-container {
                width: 300px;
                margin-top: 12px;
            }
        }
    }
}